body{
  margin: 0;
  height: 100vh;
  font-family: Rubik;
}
header{margin: 0;
  width: 100%;
}
.imagen-logo{
  width: 155px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.adalab-logo{
padding: 10px, 0px;
display: flex;
justify-content: center;
}
.menu{
  margin: 0;
  padding: 0;
  list-style: none;
  color: #4a4a4a;
  width: 100%;
  text-align: center;
}
.blog, .contacto{
  display: inline-block;
  font-size: 16px;
}
.blog{
  padding-right: 10px;
}
.contacto{
  padding-left: 10px;
}
.principal{
  margin: 0;
  box-sizing: border-box;
  padding-top: 13px;
  background-color: #3CDBC0;
  height: 100%;
}
h1{
  margin: 0;
  font-size: 30px;
  color: #FFFFFFF;

}
